@import "../utils/encode_svg.scss";

main {
  input {
    @apply form-input rounded-md border-none ring-1 ring-gray-900 ring-opacity-25 focus:ring-2 focus:ring-gray-900 focus:ring-opacity-50 transition duration-200;
  }

  select {
    @apply rounded-md px-3 py-2 bg-no-repeat appearance-none bg-gray-50 border-none ring-1 ring-gray-900 ring-opacity-25 focus:ring-2 focus:ring-gray-900 focus:ring-opacity-50 transition duration-200 focus:outline-none font-semibold;

    $iconColor: #3d3d3d;
    background-image: svg-encode(
      '<svg fill="none" viewBox="0 0 20 20">\
        <path stroke="#{$iconColor}" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 8l4 4 4-4"/>\
      </svg>'
    );
    background-position: right theme("spacing.2") center;
    background-size: 1.5em 1.5em;
    padding-right: theme("spacing.10");
  }

  textarea {
    @apply form-input rounded-md border-none ring-1 ring-gray-900 ring-opacity-25 focus:ring-2 focus:ring-gray-900 focus:ring-opacity-50 transition duration-200;
  }
}

/*
  LAYOUTS
  =============
*/
#contact_form {
  @apply grid grid-cols-6 gap-4
    lg:w-full;

  & > div {
    float: none !important;
    width: auto !important;

    @apply col-span-6;

    label {
      @apply font-bold text-sm block;
    }

    input,
    select,
    textarea {
      @apply mt-1;
    }

    select {
      @apply leading-6;
    }

    // Spicific cases
    &.fname,
    &.lname {
      @apply col-span-3 
        sm:col-span-6;
    }

    &.city,
    &.state,
    &.zip {
      @apply col-span-2
        sm:col-span-6;
    }
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    @apply col-span-6;
  }

  input.submit {
    @apply text-white bg-primary hover:bg-opacity-90 block rounded-md cursor-pointer ring-0 px-6 font-bold;
  }

  .button {
    @apply p-0 rounded-none block bg-transparent;
  }
}
