@import "../utils/variables.scss";

.features {
  @apply bg-gray-50 py-16;

  .features-container {
    @apply max-w-screen-2xl mx-auto px-8 grid grid-cols-2 gap-16
      lg:grid-cols-1;

    .features-video {
      @apply aspect-w-16 aspect-h-9
        lg:hidden;
    }

    .features-content {
      @apply grid gap-24
        md:gap-8;

      .features-header {
        .title {
          @apply font-bold text-4xl
            md:text-2xl
            sm:text-xl;

          span:last-of-type {
            @apply relative;

            &::after {
              @apply absolute -bottom-10 left-0 h-2 w-1/2 bg-primary
                md:-bottom-8
                sm:-bottom-4;
              transform: skewX(30deg);
              content: "";
            }
          }
        }
      }

      .features-content-video {
        @apply aspect-w-16 aspect-h-9
          min-lg:hidden;
      }

      .features-items {
        @apply grid grid-cols-2 gap-20
          md:gap-8
          sm:grid-cols-1;

        .feature-item {
          @apply bg-white p-8 flex flex-col items-center rounded-[#{$border-radius-xl}]
            sm:p-4;
          box-shadow: 0px 4px 37px #00000029;

          .item-icon {
            @apply w-28 h-28 mb-6 relative
              sm:w-16 sm:h-16;

            // This could be a img or svg depending on where its being deployed
            .featured-item-icon,
            img,
            svg {
              @apply absolute inset-0 w-full h-full;
            }
          }

          .item-text {
            @apply font-semibold text-sm text-center;
          }
        }
      }
    }
  }

  .features-action {
    @apply flex justify-center mt-20
      sm:mt-12;

    .button.button {
      @apply bg-black hover:bg-primary hover:opacity-100;
    }
  }
}
