@import "../utils/calculate_fraction_width.func.scss";
@import "../utils/breakpoints.vars.scss";

.navigation-layout {
  @apply relative;
  display: grid;
  grid-template-columns:
    minmax(theme("spacing.8"), auto) minmax(
      calculateFractionWidth(0.2, $screen-lg),
      calculateFractionWidth(0.2, $screen-2xl)
    )
    minmax(
      calculateFractionWidth(0.8, $screen-lg),
      calculateFractionWidth(0.8, $screen-2xl)
    )
    minmax(theme("spacing.8"), auto);
  grid-template-rows: auto auto;
  z-index: 999;

  @screen xl {
    grid-template-columns:
      minmax(theme("spacing.8"), auto)
      2fr
      10fr
      // this translates to 44fr and 55fr respectively
      minmax(theme("spacing.8"), auto);
  }

  @screen md {
    box-shadow: 0px 3px 13px #00000029;
  }

  @screen sm {
    grid-template-columns:
      minmax(theme("spacing.8"), auto)
      1fr
      1fr
      // this translates to 44fr and 55fr respectively
      minmax(theme("spacing.8"), auto);
  }

  .banner-bg {
    @apply col-start-1 col-end-5 row-start-1 row-end-2 bg-primary
      xl:col-start-1 xl:col-end-5;
  }

  .banner {
    @apply col-start-2 col-end-4 row-start-1 row-end-2 text-white flex justify-end space-x-4 p-1 px-4 items-center
      xl:col-start-1 xl:col-end-5
      sm:justify-center;

    .serving {
      @apply underline text-sm;
    }

    .number {
      @apply font-bold text-xl
        sm:hidden;
    }
  }

  .logo-container {
    @apply relative col-start-2 col-end-3 row-start-2 row-end-3 mb-4 h-[125px] z-[-1]
      xl:row-start-2 xl:row-end-3 xl:my-5
      md:h-full md:w-auto md:my-0;

    .img {
      @apply md:py-2;
    }
  }
}
