.social-proof {
  @apply max-w-screen-2xl mx-auto px-8;

  .title {
    span:last-of-type {
      @apply relative inline-block;

      &::after {
        @apply absolute -bottom-6 left-0 h-2 w-1/2 bg-primary
            sm:-bottom-4;
        transform: skewX(30deg);
        content: "";
      }
    }
  }

  .button.button {
    @apply bg-black hover:bg-primary hover:opacity-100;
  }
}
