<<style>
  .contact_form {
    margin: auto;
    width: 540px;
  }

  .contact_form form {
    width: 100% !important;
  }

  .contact_form .bar {
    width: 100%;
    padding: 3px 0px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .contact_form .step {
    width: 540px;
    margin-bottom: 15px;
    border: 2px solid #e4e4e4;
    display: none;
  }

  .contact_form .step.step_1 {
    display: block;
  }

  .contact_form .step .title {
    font-weight: bold;
    font-size: 14px;
    color: #777777;
    background-color: #f2f2f2;
    border-bottom: 2px solid #e4e4e4;
    padding: 5px 12px;
  }

  .contact_form .step.current .title {
    color: #ffffff;
  }

  .contact_form .step .form_fields {
    padding: 12px 13px;
  }

  #content-wrap > .contact_form .step label {
    width: auto;
    font-weight: bold;
  }
  #content-wrap > .contact_form .step input + label.error {
    margin-top: -15px;
    font-size: 12px;
  }
  #content-wrap > .contact_form .step label.emergency {
    float: none;
    font-weight: normal;
    display: inline;
  }

  .contact_form #City-label {
    clear: left;
  }

  .contact_form.ca #City {
    width: 130px;
  }

  .contact_form.ca #State {
    width: 180px;
  }

  .contact_form #Street {
    width: 200px;
  }

  .contact_form #Message {
    width: 300px;
    height: 150px;
  }

  .contact_form .next {
    float: right;
    margin-top: 20px;
    padding: 3px 10px;
  }

  .contact_form .contact_form_outro {
    padding-left: 10px;
  }
  .contact_form .small.privacy {
    clear: both;
    padding-top: 20px;
  }
  #contact_form > div.step.step_4 > div.form_fields > label.error {
    display: block !important;
  }
</style>
<div class="contact_form us">
  <form
    action="https://www.saberfoundations.com/free-estimate/confirmation.html"
    method="post"
    id="contact_form"
    novalidate="true"
  >
    <input type="hidden" name="save" value="1" />
    <h1>Contact Us Today</h1>
    <div class="bar">
      Fill out the form below to have Saber Foundation Repair contact you
      shortly, or call
      <span id="numberassigned_2" class="mongoose_phone">1-800-922-2488</span>
      to contact Saber Foundation Repair immediately.
    </div>
    <div class="step step_1 current">
      <div class="title">Enter your Zip Code</div>
      <div class="form_fields">
        <label for="Zip">Your Zip Code: </label>
        <input
          id="Zip"
          class="four_step_zip_field"
          type="text"
          name="Zip_Code"
          pattern="^\d{5}$"
          data-validate-zip="us"
          maxlength="10"
          value=""
          required=""
        />
      </div>
      <button class="next" onclick="contactFormNextStep(); return false;">
        Continue »
      </button>
    </div>
    <div class="step step_2">
      <div class="title">Address Information</div>
      <div class="form_fields">
        <label id="Street-label" for="Street">Street:</label>
        <input
          id="Street"
          required=""
          type="text"
          name="Street"
          maxlength="300"
        />
        <label id="City-label" for="City">City and State:</label>
        <input
          id="City"
          required=""
          type="text"
          name="City"
          maxlength="255"
          value=""
        />
        <select name="State" id="State" required="">
          <option value="">Please select...</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
      </div>
      <button class="next" onclick="contactFormNextStep(); return false;">
        Continue »
      </button>
    </div>
    <div class="step step_3">
      <div class="title">Contact Information</div>
      <div class="form_fields">
        <label id="First_Name-label" for="First_Name">Your First Name: </label>
        <input
          id="First_Name"
          required=""
          type="text"
          name="First_Name"
          maxlength="50"
          data-validate-name=""
        />
        <br />
        <label id="Last_Name-label" for="Last_Name">Your Last Name: </label>
        <input
          id="Last_Name"
          required=""
          type="text"
          name="Last_Name"
          maxlength="50"
          data-validate-notequal="#First_Name"
          data-validate-name=""
        />
        <br />
        <label id="Phone-label" for="Phone">Your Phone Number: </label>
        <input
          id="Phone"
          type="text"
          name="Phone"
          pattern="^[01]?[- .]?\(?[2-9]\d{2}\)?[- .]?\d{3}[- .]?\d{4}$"
          data-validate-phone="us"
          required=""
        />
        <br />
        <label id="Email_Address-label" for="Email_Address"
          >Your Email Address:
        </label>
        <input
          id="Email_Address"
          type="email"
          name="Email_Address"
          maxlength="200"
          pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
          title="Please enter a valid email address."
          required=""
        />

        <div class="what-prompted">
          <label for="lead_what_prompted_id"
            >What prompted you to contact us today?</label
          >
          <input
            type="hidden"
            id="lead_what_prompted_response"
            name="What_Prompted_Response"
            value=""
          />
          <select
            id="lead_what_prompted_id"
            name="What_Prompted_Id"
            data-validate-select-one=""
            required=""
          >
            <option value="">Please select...</option>
            <option value="21">Door Hanger</option>
            <option value="1">Referral</option>
            <option value="2">Previous Customer</option>
            <option value="3">Internet / Web Search</option>
            <option value="4">TV</option>
            <option value="5">Radio</option>
            <option value="6">Mail</option>
            <option value="7">Other</option>
          </select>
        </div>
        <div id="display_lead_what_prompted_followup"></div>
        <!-- <script>
          (function () {
            document
              .querySelector("#lead_what_prompted_id")
              .addEventListener("change", function (e) {
                document.querySelector(
                  "#display_lead_what_prompted_followup"
                ).style.display = "none";
                document.querySelector(
                  "#display_lead_what_prompted_followup"
                ).innerHTML = "";
                switch (e.target.value) {
                  case "21":
                    document.querySelector(
                      "#lead_what_prompted_response"
                    ).value = "Door Hanger";
                    break;
                  case "1":
                    document.querySelector(
                      "#lead_what_prompted_response"
                    ).value = "Referral";
                    document.querySelector(
                      "#display_lead_what_prompted_followup"
                    ).style.display = "block";
                    document.querySelector(
                      "#display_lead_what_prompted_followup"
                    ).innerHTML =
                      '<label style="width:100%" id="lead_what_prompted_followup-label" for="lead_what_prompted_followup">Would you mind including their name so we can thank them?</label><input id="lead_what_prompted_followup" type="text" name="What_Prompted_Comment" maxlength="255" />';
                    break;
                  case "2":
                    document.querySelector(
                      "#lead_what_prompted_response"
                    ).value = "Previous Customer";
                    break;
                  case "3":
                    document.querySelector(
                      "#lead_what_prompted_response"
                    ).value = "Internet / Web Search";
                    break;
                  case "4":
                    document.querySelector(
                      "#lead_what_prompted_response"
                    ).value = "TV";
                    break;
                  case "5":
                    document.querySelector(
                      "#lead_what_prompted_response"
                    ).value = "Radio";
                    break;
                  case "6":
                    document.querySelector(
                      "#lead_what_prompted_response"
                    ).value = "Mail";
                    break;
                  case "7":
                    document.querySelector(
                      "#lead_what_prompted_response"
                    ).value = "Other";
                    document.querySelector(
                      "#display_lead_what_prompted_followup"
                    ).style.display = "block";
                    document.querySelector(
                      "#display_lead_what_prompted_followup"
                    ).innerHTML =
                      '<label style="width:100%" id="lead_what_prompted_followup-label" for="lead_what_prompted_followup">Tell us how you heard about us:</label><textarea style="width:100%" id="lead_what_prompted_followup" name="What_Prompted_Comment" rows="4" cols="50" maxlength="2000"></textarea>';
                    break;
                  default:
                    document.querySelector(
                      "#lead_what_prompted_response"
                    ).value = "";
                }
              });
          })();
        </script> -->
      </div>

      <button class="next" onclick="contactFormNextStep(); return false;">
        Continue »
      </button>
    </div>
    <div class="step step_4">
      <div class="title">About Your Project</div>
      <div class="form_fields">
        <label id="Message-label" for="Message">Describe your concerns</label>
        <textarea id="Message" type="text" name="Message"></textarea>
      </div>
      <input class="next" type="submit" value="Send" />
    </div>
  </form>
</div>
>
